# =========================================================
# AI RESUME SCREENING - ENVIRONMENT VARIABLES
# =========================================================


# ---------------------------------------------------------
# POSTGRESQL
# ---------------------------------------------------------

POSTGRES_DB=resume_screening
POSTGRES_USER=ujwal
POSTGRES_PASSWORD=password
POSTGRES_HOST=db


# ---------------------------------------------------------
# BACKEND
# ---------------------------------------------------------

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
AUTH_TOKEN=admin-token

CORS_ORIGINS=http://localhost:3000,http://localhost:5173


# ---------------------------------------------------------
# FRONTEND
# ---------------------------------------------------------

VITE_API_URL=http://localhost:8000
