# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/
ENV/

# Python cache/tools
.pytest_cache/
.ruff_cache/
.mypy_cache/

# =========================================================
# ENVIRONMENT VARIABLES
# =========================================================

.env
.env.*
!.env.example

# =========================================================
# FASTAPI / BACKEND
# =========================================================

backend/venv/
backend/.ruff_cache/

# Uploaded resumes - DO NOT PUSH
backend/uploads/*

# =========================================================
# FRONTEND
# =========================================================

frontend/node_modules/
frontend/dist/
frontend/.vite/

# =========================================================
# OS FILES
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# EDITOR
# =========================================================

.vscode/*
!.vscode/settings.json

# =========================================================
# LOGS
# =========================================================

*.log

# =========================================================
# TEMPORARY FILES
# =========================================================

*.tmp
*.temp
*.bak
*.save